* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#nav {
  position: fixed;
  z-index: 1030;
  /*MOBILEWRAPPER*/
  /*MENU*/ }
  #nav #mobileWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #8190A5;
    border-bottom: 1px solid black;
    width: 100vw;
    height: 12vh;
    /*USERICONS*/ }
    #nav #mobileWrapper #hamburgerIcon {
      font-size: 30px;
      margin-left: 6%; }
    #nav #mobileWrapper #logo {
      height: 6vh; }
    #nav #mobileWrapper #userIcons {
      font-size: 18px;
      margin-right: 6%; }
      #nav #mobileWrapper #userIcons #accountIcon {
        font-size: 18px;
        margin-left: 20px; }
  #nav #menu {
    display: none;
    height: 100vh;
    width: 100vw;
    /*MAINMENU*/ }
    #nav #menu #mainMenu {
      display: block;
      list-style: none;
      text-align: left;
      /*LI*/ }
      #nav #menu #mainMenu li {
        padding: 16px;
        background-color: #59B28F;
        border-bottom: 1px solid white; }
        #nav #menu #mainMenu li #quote {
          height: 100vh; }
        #nav #menu #mainMenu li a {
          font-family: "Helvetica";
          font-size: 16px;
          color: white;
          text-decoration: none; }
        #nav #menu #mainMenu li #quoteText {
          font-family: "Helvetica";
          font-size: 14px;
          height: 100vh;
          position: relative;
          top: 187px; }

/*NAV*/
#main {
  position: relative;
  top: 68px;
  /*CONTAINERMAINWRAPPER*/
  /*REVIEWSCONTAINER*/
  /*PRODUCTSWRAPPER*/
  /*ARTIST PAGE*/
  /*MAINTITLE*/
  /*ARTISTSECTION*/
  /*ABOUT US PAGE*/
  /*aboutUsSection*/
  /*SHOPPAGE*/
  /*PRODUCTSWRAPPER*/
  /*CONTACT PAGE*/
  /*CONTACTCONTAINER*/ }
  #main #containerMainWrapper {
    display: flex;
    height: 88vh;
    width: 100vw;
    background-image: url("../images/tableView.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /*CONTAINERMAIN*/ }
    #main #containerMainWrapper #containerMain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw; }
      #main #containerMainWrapper #containerMain #title {
        padding: 36px 20px;
        text-align: center;
        font-family: Palatino;
        font-weight: lighter;
        margin-bottom: 3%;
        color: #47525E;
        color: white; }
      #main #containerMainWrapper #containerMain #shopButton {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        padding: 14px 36px;
        color: white;
        background-color: #59B28F;
        border: none;
        border-radius: 5px; }
  #main #reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin: 2em auto;
    /*REVIEWS*/ }
    #main #reviewsContainer #reviews {
      /*SINGULARREVIEW*/ }
      #main #reviewsContainer #reviews #review3 {
        display: none; }
      #main #reviewsContainer #reviews .singularReview {
        margin-bottom: 2.5em;
        width: 78vw; }
        #main #reviewsContainer #reviews .singularReview .quoteIcon {
          color: #59B28F;
          font-size: 32px; }
        #main #reviewsContainer #reviews .singularReview .quoteText {
          font-family: "Lato", sans-serif;
          color: #8190A5;
          font-size: 15px;
          font-style: oblique;
          padding-left: 37px; }
        #main #reviewsContainer #reviews .singularReview .reviewee {
          font-style: normal;
          font-weight: bold; }
  #main #featureTitle {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0; }
  #main #productsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightGrey;
    padding-top: 30px;
    margin-left: 21px;
    margin-right: 21px;
    /*DETAILS*/ }
    #main #productsWrapper #product3 {
      display: none; }
    #main #productsWrapper .productImg {
      background-size: cover;
      background-position: center;
      width: 230px;
      height: 230px; }
    #main #productsWrapper #productImg1 {
      background-image: url(../images/phone-case.jpg); }
    #main #productsWrapper #productImg2 {
      background-image: url(../images/smashPlaceSet.jpg); }
    #main #productsWrapper #productImg3 {
      background-image: url(../images/kidsitem.jpg); }
    #main #productsWrapper .details {
      margin-top: 15px;
      margin-bottom: 20px; }
      #main #productsWrapper .details .productTitle {
        font-family: "Lato", sans-serif;
        color: #47525E;
        font-size: 16px;
        font-weight: 700; }
      #main #productsWrapper .details .price {
        font-family: "Lato", sans-serif;
        color: #8190A5;
        font-size: 14px; }
  #main #mainTitle {
    color: black;
    padding: 36px 20px;
    text-align: center;
    font-family: Palatino;
    font-weight: lighter;
    margin-bottom: 3%;
    color: #47525E;
    margin-bottom: 0; }
  #main #collabSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*ctaPhraseWrapper*/
    /*COLLABSECTION*/ }
    #main #collabSection #ctaPhraseWrapper #ctaPhrase {
      padding: 36px 20px;
      text-align: center;
      font-family: Palatino;
      font-weight: lighter;
      margin-bottom: 3%;
      color: #47525E;
      font-family: "Lato", sans-serif;
      font-size: 19px;
      padding-top: 0;
      padding-bottom: 16px; }
    #main #collabSection #btnWrapper {
      margin-bottom: 2em; }
      #main #collabSection #btnWrapper #collabButton {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        padding: 14px 36px;
        color: white;
        background-color: #59B28F;
        border: none;
        border-radius: 5px;
        padding: 11px 32px; }
  #main #artistsSection {
    width: 90vw;
    margin: 0 auto;
    /*SINGULARARTIST*/ }
    #main #artistsSection .singularArtist {
      margin-bottom: 9%;
      /*ARTISTIMGWRAPPER*/
      /*ARTISTDETAILSWRAPPER*/ }
      #main #artistsSection .singularArtist .artistImgWrapper {
        width: 90vw;
        height: 90vw; }
        #main #artistsSection .singularArtist .artistImgWrapper img {
          width: 90vw;
          height: 90vw;
          object-fit: cover; }
      #main #artistsSection .singularArtist .artistDetailsWrapper {
        width: 90vw;
        margin-top: 4%; }
        #main #artistsSection .singularArtist .artistDetailsWrapper .artistName {
          font-family: "Lato", sans-serif;
          color: #47525E;
          font-weight: bold;
          font-size: 16px; }
        #main #artistsSection .singularArtist .artistDetailsWrapper .artistDescription {
          font-family: "Lato", sans-serif;
          color: #8190A5;
          font-size: 14px;
          margin-top: 2%; }
  #main #aboutUsSection {
    width: 85vw;
    margin: 0 auto; }
    #main #aboutUsSection #imgOfProductMakingWrapper #imgOfProductMaking {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 230px;
      background-image: url(../images/makingProduct.jpg); }
    #main #aboutUsSection .aboutStaffText {
      font-family: "Lato", sans-serif;
      color: #8190A5;
      font-size: 14px;
      margin: 2em 0; }
    #main #aboutUsSection .aboutUsImages {
      width: 100%;
      height: 50vh;
      object-fit: cover; }
    #main #aboutUsSection #imgOfLightsWrapper, #main #aboutUsSection #row3 {
      display: none; }
  #main #shopProductsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-left: 21px;
    margin-right: 21px;
    /*DETAILS*/ }
    #main #shopProductsWrapper .productImg {
      background-size: cover;
      background-position: center;
      width: 230px;
      height: 230px; }
    #main #shopProductsWrapper #productImg1 {
      background-image: url(../images/phone-case.jpg); }
    #main #shopProductsWrapper #productImg2 {
      background-image: url(../images/smashPlaceSet.jpg); }
    #main #shopProductsWrapper #productImg3 {
      background-image: url(../images/kidsitem.jpg); }
    #main #shopProductsWrapper #productImg4 {
      background-image: url(../images/earrings.jpg); }
    #main #shopProductsWrapper #productImg5 {
      background-image: url(../images/coat.jpg); }
    #main #shopProductsWrapper .details {
      margin-top: 15px;
      margin-bottom: 20px; }
      #main #shopProductsWrapper .details .productTitle {
        font-family: "Lato", sans-serif;
        color: #47525E;
        font-size: 16px;
        font-weight: 700; }
      #main #shopProductsWrapper .details .price {
        font-family: "Lato", sans-serif;
        color: #8190A5;
        font-size: 14px; }
  #main #contactcontainer {
    width: 84vw;
    margin: 0 auto;
    /*CONTACTCOLUMN1*/
    /*CONTACTCOLUMN2*/ }
    #main #contactcontainer #contactColumn1 {
      /*CONTACTSOCIALICONS*/ }
      #main #contactcontainer #contactColumn1 .contactTitles {
        font-family: "Lato", sans-serif;
        color: #47525E;
        font-weight: bold;
        font-size: 16px;
        margin: 10px 0; }
      #main #contactcontainer #contactColumn1 .contactBodyText {
        font-family: "Lato", sans-serif;
        color: #8190A5;
        font-size: 14px; }
      #main #contactcontainer #contactColumn1 #contactSocialIcons {
        display: flex;
        flex-direction: row;
        margin: 13px 0;
        float: left;
        width: 100vw;
        /*SOCIALICON*/ }
        #main #contactcontainer #contactColumn1 #contactSocialIcons .socialIcon {
          margin: 0 0.5em;
          font-size: 25px;
          color: #59B28F; }
          #main #contactcontainer #contactColumn1 #contactSocialIcons .socialIcon a:visited {
            color: #59B28F; }
          #main #contactcontainer #contactColumn1 #contactSocialIcons .socialIcon a:hover {
            color: #8190A5; }
    #main #contactcontainer #contactColumn2 {
      /*CONTACTFORM*/ }
      #main #contactcontainer #contactColumn2 .contactBodyText {
        font-family: "Lato", sans-serif;
        color: #8190A5;
        font-size: 14px; }
      #main #contactcontainer #contactColumn2 #contactForm {
        font-family: "Lato", sans-serif;
        color: #8190A5;
        font-size: 14px;
        margin-top: 24px;
        /*CONTACTREASONS*/
        /*FORMBUTTONS*/ }
        #main #contactcontainer #contactColumn2 #contactForm .formTitle {
          font-family: "Lato", sans-serif;
          color: #47525E;
          font-weight: bold;
          font-size: 16px;
          font-size: 14px; }
        #main #contactcontainer #contactColumn2 #contactForm .content {
          padding: 7px 10px;
          margin-top: 10px;
          margin-bottom: 20px;
          border: 1px black solid;
          opacity: 0.2; }
        #main #contactcontainer #contactColumn2 #contactForm #contactReasons {
          list-style: none;
          /*LI*/ }
          #main #contactcontainer #contactColumn2 #contactForm #contactReasons li {
            margin: 18px 0; }
            #main #contactcontainer #contactColumn2 #contactForm #contactReasons li .contactReason {
              margin-right: 6px; }
        #main #contactcontainer #contactColumn2 #contactForm #formButtons {
          display: flex;
          flex-direction: column;
          align-items: center; }
          #main #contactcontainer #contactColumn2 #contactForm #formButtons #sumbitBtn {
            font-family: "Lato", sans-serif;
            padding: 11px 51px;
            margin: 6px 0;
            background-color: #59B28F;
            color: white;
            font-weight: bold;
            border: none; }
          #main #contactcontainer #contactColumn2 #contactForm #formButtons #resetBtn {
            font-family: "Lato", sans-serif;
            padding: 8px 47px;
            background-color: #59B28F;
            color: white;
            border: none; }

/*MAIN*/
#footer {
  background-color: #59B28F;
  width: 100vw;
  padding: 26px 0;
  margin-top: 100px;
  /*socialMediaIcons*/ }
  #footer #socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 13px;
    /*socialIcon*/ }
    #footer #socialMediaIcons .socialIcon {
      margin: 0 0.5em;
      font-size: 25px;
      color: white; }
      #footer #socialMediaIcons .socialIcon a:visited {
        color: white; }
      #footer #socialMediaIcons .socialIcon a:hover {
        color: #8190A5; }
  #footer #copyright {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    text-align: center;
    color: white; }

/*footer*/
/*END OF BASE*/
@media only screen and (min-width: 768px) {
  /*TABLET*/
  #nav {
    /*MOBILEWRAPPER*/
    /*MENU*/ }
    #nav #mobileWrapper {
      /*USERICONS*/ }
      #nav #mobileWrapper #hamburgerIcon {
        font-size: 43px; }
      #nav #mobileWrapper #userIcons span {
        font-size: 27px !important; }
    #nav #menu {
      height: 25vh;
      /*MAINMENU*/ }
      #nav #menu #mainMenu li {
        text-align: center; }
      #nav #menu #mainMenu li:last-child {
        display: none; }

  /*NAV*/
  #main {
    /*containerMainWrapper*/
    /*reviewsContainer*/
    /*PRODUCTSWRAPPER*/ }
    #main #containerMainWrapper {
      height: 100vh; }
    #main #reviewsContainer {
      /*reviews*/ }
      #main #reviewsContainer #reviews .singularReview {
        width: 43vw; }
      #main #reviewsContainer #reviews #review2 {
        margin-bottom: 0; }
    #main #productsWrapper {
      margin: 0; }
      #main #productsWrapper #featuredProducts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw; }
      #main #productsWrapper #product3 {
        display: block; }

  /*MAIN*/
  #footer {
    margin-top: 14%; } }
/*MEDIA QUERY FOR TABLET*/
@media only screen and (min-width: 1336px) {
  /*DESKTOP*/
  #nav {
    height: 13vh;
    margin-top: 3%;
    /*MOBILEWRAPPER*/
    /*MENU*/ }
    #nav #mobileWrapper {
      width: 67vw;
      background-color: transparent;
      border-bottom: none;
      margin: 0 auto; }
      #nav #mobileWrapper #hamburgerIcon {
        display: none; }
      #nav #mobileWrapper #userIcons {
        margin-right: 0;
        color: #59B28F; }
    #nav #menu {
      display: block !important;
      position: relative;
      right: 38%;
      bottom: 85px;
      height: 8vh;
      /*MAINMENU*/ }
      #nav #menu #mainMenu {
        float: right;
        margin-top: 12px;
        /*LI*/ }
        #nav #menu #mainMenu li {
          display: inline-block;
          background-color: transparent;
          border-bottom: none; }

  /*NAV*/
  #main {
    position: static;
    background-color: #E8EAED;
    /*reviewsContainer*/
    /*productsWrapper*/ }
    #main #reviewsContainer {
      margin-top: 0;
      margin-bottom: 0;
      /*reviews*/ }
      #main #reviewsContainer #reviews {
        width: 58vw;
        border: 10px solid white; }
        #main #reviewsContainer #reviews .singularReview {
          margin: 0 auto;
          width: 57vw;
          padding: 4% 30%; }
        #main #reviewsContainer #reviews #review1 {
          background-color: white; }
        #main #reviewsContainer #reviews #review3 {
          display: block;
          margin-bottom: 0;
          background-color: white; }
    #main #featuredProductsSection {
      margin: 0 21%;
      border: 10px solid white; }
    #main #productsWrapper {
      padding: 0; }
      #main #productsWrapper #featuredProducts {
        justify-content: space-around; }

  /*featuredProductsSection*/
  #footer {
    margin-top: 0; } }
/*END OF DESKTOP MEDIA QUERY*/

/*# sourceMappingURL=style.css.map */
