* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#nav {
  position: fixed;
  z-index: 1030;
  /*MOBILEWRAPPER*/
  /*MENU*/ }
  #nav #mobileWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid black;
    width: 100vw;
    height: 12vh;
    /*USERICONS*/ }
    #nav #mobileWrapper #hamburgerIcon {
      font-size: 30px;
      margin-left: 6%; }
    #nav #mobileWrapper #logo {
      height: 6vh;
      /*33px*/ }
    #nav #mobileWrapper #userIcons {
      font-size: 18px;
      margin-right: 6%; }
      #nav #mobileWrapper #userIcons #accountIcon {
        font-size: 18px;
        margin-left: 20px; }
  #nav #menu {
    display: none;
    height: 100vh;
    width: 100vw;
    /*MAINMENU*/ }
    #nav #menu #mainMenu {
      display: block;
      list-style: none;
      text-align: left;
      /*LI*/ }
      #nav #menu #mainMenu li {
        padding: 16px;
        background-color: #59B28F;
        border-bottom: 1px solid white; }
        #nav #menu #mainMenu li #quote {
          height: 100vh; }
        #nav #menu #mainMenu li a {
          font-family: "Helvetica";
          font-size: 16px;
          color: white;
          text-decoration: none; }
        #nav #menu #mainMenu li #quoteText {
          font-family: "Helvetica";
          font-size: 14px;
          height: 100vh;
          position: relative;
          top: 187px; }

/*NAV*/
#main {
  position: relative;
  top: 75px;
  /*CONTAINERMAINWRAPPER*/
  /*REVIEWSCONTAINER*/
  /*PRODUCTSWRAPPER*/ }
  #main #containerMainWrapper {
    display: flex;
    height: 87vh;
    width: 100vw;
    background-image: url("../images/tableView.jpg");
    background-size: cover;
    background-position: center;
    /*CONTAINERMAIN*/ }
    #main #containerMainWrapper #containerMain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw; }
      #main #containerMainWrapper #containerMain #title {
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Palatino;
        font-weight: lighter;
        margin-bottom: 3%; }
      #main #containerMainWrapper #containerMain #shopButton {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        padding: 14px 36px;
        color: white;
        background-color: #59B28F;
        border: none;
        border-radius: 5px; }
  #main #reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin: 2em auto;
    /*REVIEWS*/ }
    #main #reviewsContainer #reviews {
      /*SINGULARREVIEW*/ }
      #main #reviewsContainer #reviews #review3 {
        display: none; }
      #main #reviewsContainer #reviews .singularReview {
        margin-bottom: 2.5em;
        width: 78vw; }
        #main #reviewsContainer #reviews .singularReview .quoteIcon {
          color: #59B28F;
          font-size: 32px; }
        #main #reviewsContainer #reviews .singularReview .quoteText {
          font-family: "Lato", sans-serif;
          font-size: 15px;
          font-style: oblique;
          padding-left: 37px; }
        #main #reviewsContainer #reviews .singularReview .reviewee {
          font-style: normal;
          font-weight: bold; }
  #main #featureTitle {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0; }
  #main #productsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightGrey;
    padding-top: 30px;
    margin-left: 21px;
    margin-right: 21px;
    /*DETAILS*/ }
    #main #productsWrapper #product3 {
      display: none; }
    #main #productsWrapper .productImg {
      background-size: cover;
      background-position: center;
      width: 230px;
      height: 230px; }
    #main #productsWrapper #productImg1 {
      background-image: url(../images/phone-case.jpg); }
    #main #productsWrapper #productImg2 {
      background-image: url(../images/smashPlaceSet.jpg); }
    #main #productsWrapper #productImg3 {
      background-image: url(../images/kidsitem.jpg); }
    #main #productsWrapper .details {
      margin-top: 15px;
      margin-bottom: 20px; }
      #main #productsWrapper .details .productTitle {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 700; }
      #main #productsWrapper .details .price {
        font-family: "Lato", sans-serif;
        font-size: 14px; }

/*MAIN*/
#footer {
  background-color: #59B28F;
  width: 100vw;
  padding: 26px 0;
  margin-top: 30%;
  /*socialMediaIcons*/ }
  #footer #socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 13px; }
    #footer #socialMediaIcons .socialIcon {
      margin: 0 0.5em;
      font-size: 25px;
      color: white; }
      #footer #socialMediaIcons .socialIcon a:visited {
        color: white; }
      #footer #socialMediaIcons .socialIcon a:hover {
        color: lightGrey; }
  #footer #copyright {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    text-align: center;
    color: white; }

/*footer*/
/*END OF BASE*/
@media only screen and (min-width: 768px) {
  /*TABLET*/
  #nav {
    /*MOBILEWRAPPER*/
    /*MENU*/ }
    #nav #mobileWrapper {
      /*USERICONS*/ }
      #nav #mobileWrapper #hamburgerIcon {
        font-size: 43px; }
      #nav #mobileWrapper #userIcons span {
        font-size: 27px !important; }
    #nav #menu {
      height: 25vh;
      /*MAINMENU*/ }
      #nav #menu #mainMenu li {
        text-align: center; }
      #nav #menu #mainMenu li:last-child {
        display: none; }

  /*NAV*/
  #main {
    /*containerMainWrapper*/
    /*reviewsContainer*/
    /*PRODUCTSWRAPPER*/ }
    #main #containerMainWrapper {
      height: 95vh; }
    #main #reviewsContainer {
      /*reviews*/ }
      #main #reviewsContainer #reviews .singularReview {
        width: 43vw; }
      #main #reviewsContainer #reviews #review2 {
        margin-bottom: 0; }
    #main #productsWrapper {
      margin: 0; }
      #main #productsWrapper #featuredProducts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw; }
      #main #productsWrapper #product3 {
        display: block; }

  /*MAIN*/
  #footer {
    margin-top: 14%; } }
/*MEDIA QUERY FOR TABLET*/
@media only screen and (min-width: 1336px) {
  /*DESKTOP*/
  #nav {
    /*MOBILEWRAPPER*/
    /*MENU*/ }
    #nav #mobileWrapper {
      background-color: transparent;
      border-bottom: none;
      width: 100vw; }
      #nav #mobileWrapper #hamburgerIcon {
        display: none; }
    #nav #menu {
      display: inline-block !important;
      /*MAINMENU*/ }
      #nav #menu #mainMenu {
        float: right;
        margin-top: 12px; }
        #nav #menu #mainMenu li {
          display: inline-block;
          border-bottom: none; }

  /*NAV*/
  #main {
    position: static; } }
/*END OF DESKTOP MEDIA QUERY*/

/*# sourceMappingURL=style.css.map */
