@mixin icon-size {
  font-size:40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100wv;
  padding: 10px;
  background-color: grey;
  #nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #hamburgerIcon {
      font-size: 70px;
      margin-left: 20px;
      // color:green;
    }

    #menu {
      display: block;
      background-color: pink;
      list-style:none;
      text-align: left;

      a {
        text-decoration: none;
      }
    }/*MENU*/

    #logo {
      height:100px;
    }

    #userIcons {
      @include icon-size;
      margin-right: 60px;

      #accountIcon {
        @include icon-size;
        margin-left: 30px;
      }
    }/*USERICONS*/
  }/*NAV*/
}/*HEADER*/
