@mixin icon-size {
  font-size:14px;
}

@mixin font-nav{
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

// @mixin @font-face {
//
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;

  #mobileWrapper{
    padding: 20px 0;
    background-color: white;
    border-bottom: 2px solid black;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #hamburgerIcon {
      font-size: 30px;
      margin-left: 20px;
      // color:green;
    }

    #logo {
      height:50px;
    }

    #userIcons {
      @include icon-size;
      margin-right: 20px;

      #accountIcon {
        @include icon-size;
        margin-left: 20px;
      }
    }/*USERICONS*/
  }/*MOBILEWRAPPER*/

    #menu {
      background-color: #778ca3;
      height: 100vh;
      width: 100vw;

      #mainMenu {
        display: block;
        list-style:none;
        text-align: left;

        li {
          padding: 20px;
          border-bottom: 1px solid white;

          a {
            font-size: 16px;
            font-family: "Helvetica";
            color: white;
            text-decoration: none;
          }

          // #quote {
          //   position: absolute;
          //   bottom: 0;
          // }

            #quoteText {
              font-family: "Helvetica";
              font-size: 14px;
              height: 40px;
            }
        }/*LI*/
      }/*MAINMENU*/
    }/*MENU*/
}/*HEADER*/
